<div class="mat-elevation-z8" fxLayout fxLayoutAlign="center center" matSort>
  <table [dataSource]="dataSource" mat-table>
    <ng-container matColumnDef="date">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Data</th>
      <td *matCellDef="let exercise" mat-cell>
        {{ exercise.date | date: 'dd/MM/yyyy':'':'pt-BR' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Nome</th>
      <td *matCellDef="let exercise" mat-cell>{{ exercise.name }}</td>
    </ng-container>

    <ng-container matColumnDef="calories">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Calorias</th>
      <td *matCellDef="let exercise" mat-cell>
        {{ exercise.calories | number: '':'pt-BR' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Duração</th>
      <td *matCellDef="let exercise" mat-cell>
        {{ exercise.duration | number: '':'pt-BR' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Status</th>
      <td *matCellDef="let exercise" mat-cell>{{ exercise.state }}</td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
  </table>
</div>
