<div class="mat-elevation-z8" fxLayout="column" fxLayoutAlign="center center">
  <mat-form-field>
    <input
      #filterValue
      (keyup)="doFilter($event)"
      matInput
      placeholder="Filtro"
      type="text"
    />
  </mat-form-field>
  <table [dataSource]="dataSource" mat-table matSort>
    <ng-container matColumnDef="date">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Data</th>
      <td *matCellDef="let exercise" mat-cell>
        {{ exercise.date | date: 'dd/MM/yyyy':'':'pt-BR' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Nome</th>
      <td *matCellDef="let exercise" mat-cell>{{ exercise.name }}</td>
    </ng-container>

    <ng-container matColumnDef="calories">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Calorias</th>
      <td *matCellDef="let exercise" mat-cell>
        {{ exercise.calories | number: '':'pt-BR' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Duração</th>
      <td *matCellDef="let exercise" mat-cell>
        {{ exercise.duration | number: '':'pt-BR' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Status</th>
      <td *matCellDef="let exercise" mat-cell>{{ exercise.state }}</td>
    </ng-container>

    <ng-container *ngIf="dataSource.data.length === 0; else filter">
      <tr *matNoDataRow class="mat-row">
        <td class="mat-cell" colspan="4">Não há registro cadastrados</td>
      </tr>
    </ng-container>

    <ng-template #filter>
      <tr *matNoDataRow class="mat-row">
        <td class="mat-cell" colspan="4">
          Não há registro para o filtro: {{ filterValue.value }}
        </td>
      </tr>
    </ng-template>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
  </table>
  <mat-paginator
    *ngIf="dataSource.data.length >= 5"
    [pageSizeOptions]="[5, 10, 20]"
    aria-label="Select page of periodic elements"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
