<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button (click)="onToggleSidenav()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/">LOGO</a>
  </div>
  <div fxFlex fxHide.xs fxLayout fxLayoutAlign="flex-end">
    <ul class="navigation-items" fxLayout fxLayoutGap="10px">
      <li><a routerLink="/signup">Cadastra-se</a></li>
      <li><a routerLink="/login">Entrar</a></li>
      <li><a routerLink="/training">Treinamento</a></li>
      <li><a>Sair</a></li>
    </ul>
  </div>
</mat-toolbar>
