<mat-nav-list>
  <a (click)="onClose()" mat-list-item routerLink="/signup">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Cadastre-se</span>
  </a>
  <a (click)="onClose()" mat-list-item routerLink="/login">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Entrar</span>
  </a>
  <a (click)="onClose()" mat-list-item routerLink="/training">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-caption">Treinamento</span>
  </a>
  <mat-list-item>
    <button (click)="onClose()" mat-icon-button>
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">Sair</span>
    </button>
  </mat-list-item>
</mat-nav-list>
